<template name="signup">
<div class="row">
  <div class="col-md-4 col-md-offset-4"><center>
    <h1>Welcome to Tint</h1><br>
    <form>
      <div class="form-group">
        <label for="teamA">Sign up for an account</label>
        <input type="email" class="form-control" name="email" placeholder="Email"><br>
        <input type="text" class="form-control" name="name" placeholder="Name"><br>
        <input type="password" class="form-control" name="password" placeholder="Password"><br>
      </div>
      <button type="submit" class="btn btn-color" value="submit">Submit</button>
    </form>
  </center>
  </div>
</div>
</template>
