<template name="signin">
  <div class="splash col-sm-4">
      <h1>Your account {{currentUser._id}}</h1><br>
  </div>

  <div class="splash col-sm-4">
    <form>
      <div class="form-group">
        <label for="teamA">Sign in with Tint</label>
        <input type="email" class="form-control" name="email" placeholder="Email"><br>
        <input type="password" class="form-control" name="password" placeholder="Password"><br>
      </div>
      <button type="submit" class="btn btn-primary btn-block"  id="newGameButton" value="submit">Submit</button>
    </form>
    Don't have an account? <a href="/signup">Sign up!</a>
  </div>
</template>
